@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
#root {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #dddddd;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

body.no-scroll {
  overflow: hidden;
  height: 100svh;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

.interact1,
.interact2 {
  position: relative; /* Required for ::before to position absolutely */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.interact1::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 60%;
  background: radial-gradient(
    ellipse at center,
    #00ffff98,
    transparent 70%
  );
  filter: blur(32px);
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interact2::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 60%;
  background: radial-gradient(
    ellipse at center,
    #00ffffe4,
    transparent 70%
  );
  filter: blur(30px);
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.caret {
  position: absolute;
  bottom: 16px;
}

.api {
  display: flex;
}

.apiresults {
  flex: 1;
}

.apidesc2 {
  flex: 1;
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 24px;
  margin-bottom: 56px;
  font-size: 2rem;
}

@media screen and (max-width: 724px) {
  .apidesc2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.explore {
  padding: "12px";
  font-size: "1rem";
  border: "solid #dddddd 2px";
  border-radius: "6px";
  cursor: "pointer";
}

@media screen and (max-height: 512px) {
  .interact1,
  .interact2 {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
