@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}

body,
#root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  cursor: default;
}

body.no-scroll {
  overflow: hidden !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  z-index: 0;
  height: 100svh;
}

.splash-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  width: 90%;
}

.greeting {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff1f;
  color: #ffffff99;
  border-radius: 1rem;
  font-family: monospace;
  font-size: 1.5rem;
  width: 90%;
  padding: 1rem;
}

.down-icon {
  width: 2.5rem;
  stroke-width: 1.25;
}

.api-headers {
  display: flex;
  flex-direction: column;
}

.api-headers h3 {
  margin: 2rem 10%;
  font-size: 2rem;
}

.api-legend {
  display: flex;
  flex-direction: row;
  margin: 0 10% 1rem 10%;
}

.api-rank {
  width: 1rem;
  text-align: center;
}

.api-title {
  margin: 0 0.75rem;
}

.api-views {
  position: absolute;
  right: 10%;
}

.summary {
  padding: 4rem 10%;
  font-size: 2rem;
  width: 75vw;
}

.summary h3 {
  padding-bottom: 0.5rem;
}

.summary p {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.explore {
  display: inline-flex;
  vertical-align: top;
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .explore:hover,
  .explore:active {
    color: #ffffff70;
  }
}

.chevron-right {
  width: 1rem;
  margin: 3px 0 0 4px;
  stroke-width: 3;
}

@media screen and (max-width: 780px) {
  .hero {
    font-size: 1.25rem;
  }
  .down-icon {
    width: 2rem;
  }
  .summary {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    font-size: 1.25rem;
  }
  .down-icon {
    width: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .splash-wrapper {
    width: 100%;
    margin: 16% 1rem 0 1rem;
  }
  .greeting {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .hero {
    font-size: 1rem;
    padding: .5rem .5rem .5rem 1rem;
  }
  .summary h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .api-headers h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem 1rem;
  }

  .api-legend {
    margin: 0 1rem 1rem 1rem;
    font-size: 14px;
    display: none;
  }

  .api-views {
    right: 1rem;
  }

  .summary {
    padding: 4rem 1rem;
  }
}
