@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}

body,
#root {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

body.no-scroll {
  overflow: hidden;
  height: 100svh;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #212121, #000);
  z-index: 0;
  height: 100svh;
}

.hero h1 {
  font-weight: bolder;
  position: relative;
  z-index: 1;
}

.hero {
  margin-top: 16px;
}

.hero h2 {
  text-align: center;
}

.caret {
  position: absolute;
  bottom: 16px;
}

.api {
  display: flex;
}

.apiresults {
  flex: 1;
}

.summary {
  flex: 1;
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 2rem;
}

.summary h3 {
  margin-bottom: 8px;
}

.summary p {
  font-weight: lighter;
  font-size: 1rem;
  padding-bottom: 16px;
}

.explore {
  transition: background-color 0.33s ease-in-out, color 0.33s ease-in-out;
  color: #fff;
  padding: 12px;
  font-size: 1rem;
  border: solid #fff 2px;
  border-radius: 4px;
  cursor: pointer;
}

.explore:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 3rem !important;
  }

  .hero h2 {
    font-size: 1.5rem !important;
  }

  .summary {
    margin-left: 16px;
    margin-right: 16px;
  }
}
