.footer {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
  background: #000;
  font-size: 1rem;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 16px;
  box-sizing: border-box;
  margin-top: auto;
}

.footer-group {
  margin-top: 16px;
  color: #999999;
}

.footer-group,
.footer-link {
  justify-content: left;
  align-items: left;
  margin-bottom: 16px;
  margin-left: 11%;
  margin-right: 11%;
}

.footer-link {
  display: inline-block;
  cursor: pointer;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .footer-link:hover,
  .footer-link:active {
    color: #999999;
  }
}

.divider {
  padding: 32px 0 16px 0;
  text-align: center;
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 16px;
  border-top: solid #eeeeee 1px;
}

@media screen and (max-width: 480px) {
  .footer-group,
  .footer-link {
    margin-left: 16px;
    margin-right: 16px;
  }
  .divider {
    margin-left: 16px;
    margin-right: 16px;
  }
}
