.footer {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
  background: #000;
  font-size: 1rem;
  /* font-weight: 600; */
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 24px;
  box-sizing: border-box;
  margin-top: auto;
}

.footer-group {
  color: #999999;
  margin-top: 16px;
}

.footer-links {
  justify-content: left;
  align-items: left;
  padding-bottom: 16px;
  margin-left: 11%;
  margin-right: 11%;
}

.footer-links a:hover {
  color: #999999;
}

.divider {
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 16px;
  border-top: solid #eeeeee 1px;
}

@media screen and (max-width: 480px) {
  .footer-links {
    margin-left: 16px;
    margin-right: 16px;
  }
  .divider {
    margin-left: 16px;
    margin-right: 16px;
  }
}

