.footer {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
  font-size: 1rem;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 1rem;
  box-sizing: border-box;
  margin-top: auto;
}

.footer-group {
  margin-top: 1rem;
  color: #FFFFFF70;
}

.footer-group,
.footer-link {
  justify-content: left;
  align-items: left;
  margin-bottom: 1rem;
  margin-left: 10%;
  margin-right: 10%;
}

.footer-link {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .footer-link:hover,
  .footer-link:active {
    color: #FFFFFF70;
  }
}

.divider {
  padding: 2rem 0 1rem 0;
  text-align: center;
  margin: 1rem 10%;
  border-top: solid 1px #202124;
}

@media screen and (max-width: 480px) {
  .footer-group,
  .footer-link,
  .divider {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
