.icons {
  padding: 3%;
  width: 96%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto; 
}

.icons img {
  flex-basis: calc(16.66% - 24px);
  margin: 12px;
  border-radius: 12px;
  overflow: hidden;
}

/* .icons img:hover {
  filter: brightness(1.5)
} */

@media screen and (max-width: 1000px) {
  .icons img {
    padding: 0;
    margin: 12px;
    flex-basis: calc(25% - 24px);
  }
}

@media screen and (max-width: 600px) {
  .icons img {
    padding: 0;
    margin: 12px;
    flex-basis: calc(33% - 24px);
  }
}

@media screen and (max-width: 400px) {
  .icons img {
    padding: 0;
    margin: 12px;
    flex-basis: calc(50% - 24px);
  }
}
