.icons {
  padding: 16px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 36px 9% 24px 9%;
}

.icons img {
  flex-basis: calc(16.66% - 24px);
  margin: 12px;
  overflow: hidden;
}

@media screen and (max-width: 1428px) {
  .icons img {
    padding: 0;
    margin: 12px;
    flex-basis: calc(25% - 24px);
  }
}

@media screen and (max-width: 724px) {
  .icons {
    margin: 36px 0px 36px 0px;
    padding-left: 0;
    padding-right: 0;
  }
  .icons img {
    margin: 12px;
    flex-basis: calc(33% - 24px);
  }
}

@media screen and (max-width: 400px) {
  .icons img {
    padding: 0;
    flex-basis: calc(50% - 24px);
  }
}
