.reveal {
  visibility: hidden;
}

.projects {
  justify-content: space-between;
  margin: 2rem 10% 1rem 10%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-basis: calc(32% - 2rem);
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  margin-top: 2rem;
  padding: 0;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.project-icon-wrapper {
  width: 100%;
  height: (100% - 1rem);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: left;
  position: relative;
}

.project-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.33s ease-in-out;
  transform: scale(1);
}

@media (hover: hover) {
  .project-card:hover .project-icon {
    transform: scale(1.02);
  }
}

.project-card:active {
  color: inherit;
}

.project-text {
margin: 1rem 0;
}

.project-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.project-description,
.project-language {
  font-size: 1rem;
  line-height: 1.75em;
}

.project-language {
  color: #FFFFFF70;
}

@media screen and (max-width: 780px) {
  .projects {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .project-card {
    margin: 1rem 0;
    flex-basis: calc(100%);
  }
}

@media screen and (max-width: 480px) {
  .projects {
    margin: 0 1rem;
  }

  .project-card {
    margin: 1rem 0;
  }

  .project-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
  }
}
