.container {
  padding: 1%;
}

#project-coffee::before,
#project-pulse::before,
#project-wyr::before,
#project-password::before,
#project-quiz::before,
#project-weather::before,
#project-tech::before,
#project-blog::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 100%;
  opacity: 0.6;
  transition: transform 0.3s ease-in-out; /* Add transition property */
}

#project-coffee::before {
  background-image: url("./assets/project/coffee.png");
}

#project-pulse::before {
  background-image: url("./assets/project/pulse.png");
}

#project-password::before {
  background-image: url("./assets/project/password.png");
}

#project-quiz::before {
  background-image: url("./assets/project/quiz.png");
}

#project-weather::before {
  background-image: url("./assets/project/weather.png");
}

#project-wyr::before {
  background-image: url("./assets/project/wyr.png");
}

#project-tech::before {
  background-image: url("./assets/project/tech.png");
}

#project-blog::before {
  background-image: url("./assets/project/blog.png");
}

#project-coffee:hover:before,
#project-pulse:hover::before,
#project-wyr:hover::before,
#project-password:hover::before,
#project-quiz:hover::before,
#project-weather:hover::before,
#project-tech:hover::before,
#project-blog:hover::before {
  transform: scale(1.04);
}

.tags {
  text-align: left;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 12px;
  padding-bottom: 12px;
  font-size: 1.5rem;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tile {
  flex-basis: calc(25% - 24px);
  padding-bottom: calc(25% - 24px);
  position: relative;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 60px;
  border-radius: 12px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

.tile2 {
  flex-basis: calc(25% - 24px);
  padding-bottom: calc(25% - 24px);
  position: relative;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  border-radius: 12px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

@media screen and (max-width: 1280px) {
  .tile, .tile2 {
    flex-basis: calc(50% - 24px);
    padding-bottom: calc(50% - 24px);
  }
}

@media screen and (max-width: 760px) {
  .tile, .tile2 {
    flex-basis: calc(100% - 24px);
    padding-bottom: calc(100% - 24px);
  }
}

.project-content {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.project-info h1 {
  color: #eeeeee;
  font-size: 1.5rem;
}

.project-description {
  color: #eeeeee;
  font-size: 1rem;
}

.project-link {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 36px;
  color: #eeeeee;
  text-decoration: none;
  padding: 1%;
  background-color: black;
  border-radius: 6px;
}

.caret-icon {
  /* margin-top: 5px;
  margin-left: 4px; */
  height: 24px;
  width: 24px;
}

.cta {
  display: flex;
  flex-direction: row;
}
