.container {
  padding: 1%;
}

#project-flow::before,
#project-angles::before,
#project-motion::before,
#project-sign::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 100%;
  opacity: 0.75;
  transition: transform 0.3s ease-in-out; /* Add transition property */
}

#project-flow::before {
  background-image: url("./assets/project/flow.png");
}

#project-angles::before {
  background-image: url("./assets/project/angles.png");
}

#project-motion::before {
  background-image: url("./assets/project/motion.png");
}

#project-sign::before {
  background-image: url("./assets/project/wave.png");
}

#project-flow:hover::before,
#project-angles:hover::before,
#project-motion:hover::before,
#project-sign:hover::before {
  transform: scale(1.05); /* Zoom in by 1.2 on hover */
}


.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tile {
  flex-basis: calc(25% - 24px);
  height: 0;
  padding-bottom: calc(25% - 24px);
  position: relative;
  margin: 12px;
  border-radius: 12px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out; /* Optional: Add transition property for box-shadow */
}

/* Responsive styling for small screens */
@media screen and (max-width: 1280px) {
  .tile {
    flex-basis: calc(50% - 24px);
    padding-bottom: calc(50% - 24px);
  }
}

@media screen and (max-width: 639.9px) {
  .tile {
    flex-basis: calc(100% - 24px);
    padding-bottom: calc(100% - 24px);
  }
}

.project-content {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.project-info h1 {
  color: #eeeeee;
  font-size: 1.25rem;
}

.project-description {
  color: #eeeeee;
  font-size: 0.75rem;
}

.project-link {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 92px;
  color: #eeeeee;
  text-decoration: none;
  padding: 2%;
  background-color: #0b0b0b;
  border-radius: 6px;
}

.caret-icon {
  margin-top: 5px;
  margin-left: 4px;
  height: 16px;
  width: 16px;
}

.cta {
  display: flex;
  flex-direction: row;
}
