.container {
  padding: 1%;
}

#project-coffee::before,
#project-pulse::before,
#project-wyr::before,
#project-blog::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 100%;
  opacity: 0.7;
  transition: transform 0.3s ease-in-out;
}

#project-coffee::before {
  background-image: url("./assets/project/coffee.png");
}

#project-pulse::before {
  background-image: url("./assets/project/pulse.png");
}

#project-wyr::before {
  background-image: url("./assets/project/wyr.png");
}

#project-blog::before {
  background-image: url("./assets/project/blog.png");
}

#project-coffee:hover:before,
#project-pulse:hover::before,
#project-wyr:hover::before,
#project-blog:hover::before {
  transform: scale(1.04);
}

.explore {
  transition: background-color 0.33s ease-in-out, color 0.33s ease-in-out;
  background-color: #000;
  color: #dddddd;
}

.explore:hover {
  background-color: #dddddd;
  color: #000;
}

.tags {
  text-align: left;
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 11%;
  padding-bottom: 12px;
  font-size: 2.5rem;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 11%;
  margin-right: 11%;
}

.tile {
  flex-basis: calc(25% - 24px);
  padding-bottom: calc(25% - 24px);
  position: relative;
  margin-bottom: 24px;
  border-radius: 12px;
  overflow: hidden;
  /* transition: box-shadow 0.3s ease-in-out; */
}

.profdesc {
  margin-left: 11%;
  font-size: 2.5rem;
  width: 43%;
  margin-top: 32px;
  padding-bottom: 1%;
  margin-bottom: 48px;
}

@media screen and (max-width: 1428px) {
  .tile {
    flex-basis: calc(50% - 24px);
    padding-bottom: calc(50% - 24px);
    margin-bottom: 48px;
  }

  .profdesc {
    width: 66%;
    margin-top: 8px;
  }
}

@media screen and (max-width: 724px) {
  .tags {
    font-size: 2.25rem;
    margin-left: 12px;
  }
  .tile {
    flex-basis: calc(100%);
    padding-bottom: calc(100%);
    margin-bottom: 48px;
  }
  .tiles {
    margin-left: 4%;
    margin-right: 4%;
  }

  .profdesc {
    margin-left: 3%;
    margin-right: 3%;
    width: 95%;
  }
}

.project-content {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.project-info h1 {
  margin-top: 100%;
  color: #eeeeee;
  font-size: 1.75rem;
}

.project-description {
  color: #eeeeee;
  font-size: 1rem;
}

/* .project-link {
  font-size: 1rem;
  bottom: 0;
  right: 0;
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #eeeeee;
  text-decoration: none;
  padding: 1%;
  background-color: transparent;
  border-radius: 6px;
  border: solid 1px;
  border-color: #eeeeee;
}

.caret-icon {
  height: 24px;
  width: 24px;
}

.cta {
  display: flex;
  flex-direction: column;
} */
