.icons {
  justify-content: space-between;
  margin: 32px 11% 0 11%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.skill-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: calc(33% - 16px);
  aspect-ratio: 16 / 9;
  background-color: #121212;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 32px;
  color: #fff;
  text-align: right;
  transition: transform 0.2s ease-in-out;
}

.skill-icon {
  width: 180px;
  height: 180px;
  padding: 16px;
}

.skill-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.skill-title {
  font-size: 2rem;
}

.skill-description {
  font-weight: lighter;
  font-size: 1rem;
}

/* .icons img {
  flex-basis: calc(16.66% - 24px);
  margin: 12px;
  overflow: hidden;
} */

@media screen and (max-width: 1428px) {
  .skill-card {
    flex-basis: calc(48%);
    aspect-ratio: 16 / 9;
    margin-bottom: 4%;
  }

  .skill-icon {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 900px) {
  .icons {
    margin: 0 10% 0 10%;
    justify-content: center;
    align-items: center;
  }

  .skill-card {
    padding: 16px;
    margin: 16px 0 0 0;
    flex-basis: calc(100%);
    aspect-ratio: 16 / 9;
  }

  .skill-icon {
    width: 160px;
    height: 160px;
  }

  .skill-text {
    text-align: left;
  }

  .skill-title {
    font-size: 1.5rem;
  }

  .skill-description {
    font-size: 1rem;
    font-weight: lighter;
  }
}

@media screen and (max-width: 480px) {
  .icons {
    margin: 0 16px 48px 16px;
  }
}
