.reveal {
  visibility: hidden;
}

.skills {
  justify-content: space-between;
  margin: 0 11%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.skill-card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33% - 1rem);
  aspect-ratio: 2 / 1;
  margin-top: 2rem;
  padding: 0;
}

.skill-icon {
  height: 3rem;
  max-width: 3rem;
  margin-bottom: .75rem;
}

.skill-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.skill-description {
  color: #FFFFFF70;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-right: 2rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1080px) {
  .skill-card {
    flex-basis: calc(50% - 1rem);
  }
}

@media screen and (max-width: 720px) {
  .skill-card {
    margin: 1rem 0 0 0;
    flex-basis: calc(100%);
  }
}

@media screen and (max-width: 480px) {
   .skills {
    margin: 0 1rem;
  }
}