.numbers {
  text-align: right;
}

.articles:hover {
  text-decoration: underline;
}

.apitrend {
  margin-bottom: 24px;
  margin-left: 22%;
  font-size: 2.5rem;
}

.apiarticles {
  margin-left: 11%;
  margin-right: 11%;
}

.apiarticles li {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: solid 1px #eeeeee;
  font-size: 1.25rem;
}

@media screen and (max-width: 1120px) {
  .apitrend {
    margin-top: 16px;
    margin-left: 11%;
  }
}

@media screen and (max-width: 724px) {
  .apitrend {
    margin: 24px;
  }

  .apiarticles {
    margin: 0 24px 0 24px;
  }
}
