.apiarticles li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  padding: 1rem 0;
  border-top: solid 1px #212121;
}

.articles {
  display: inline;
  width: fit-content;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.indicator {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0.75rem 0 0;
}

.rank {
  width: 1rem;
  text-align: center;
}

.trend-icon {
  height: auto;
  width: 0.75rem;
}

.trend-icon.up {
  position: absolute;
  bottom: 25px;
}

.trend-icon.new {
  position: absolute;
  top: 25px;
}

.trend-icon.down {
  position: absolute;
  top: 25px;
  transform: rotate(180deg);
}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.apiarticles {
  align-items: center;
  margin: 0 10% 2rem 10%;
}

.views {
  position: absolute;
  right: 10%;
}

@media (hover: hover) {
  .articles:hover,
  .articles:active {
    color: #ffffff70;
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .data {
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 500;
  }

  .rank,
  .views {
    font-size: 0.75rem;
    font-weight: 400;
  }

  .apiarticles {
    margin: 0 1rem 2rem 1rem;
  }

  .apiarticles li {
    padding: 0.5rem 0;
  }

  .views {
    position: relative;
    right: auto;
    color: #ffffff70;
  }

  .trend-icon {
    width: 0.75rem;
  }

  .trend-icon.up {
    bottom: 22px;
  }

  .trend-icon.new {
    top: 21px;
  }

  .trend-icon.down {
    top: 22px;
  }
}
