.apiarticles li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  padding: 1rem 0;
  border-top: solid 1px #222;
}

.articles {
  display: inline;
  width: fit-content;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.indicator {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0.75rem 0 0;
}

.rank {
  width: 1rem;
  text-align: center;
}

.trend-icon {
  height: 0.5rem;
  width: 1rem;
}

.trend-icon.up {
  position: absolute;
  bottom: 1.5rem;
  color: #4caf50;
}

.trend-icon.down {
  position: absolute;
  top: 1.5rem;
  transform: rotate(180deg);
  color: #f44336;
}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.apiarticles {
  align-items: center;
  margin: 0 10% 2rem 10%;
}

.views {
  position: absolute;
  right: 10%;
}

@media (hover: hover) {
  .articles:hover,
  .articles:active {
    color: #FFFFFF70;
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .views {
    right: 1rem;
  }

  .apiarticles {
    margin: 0 1rem 2rem 1rem;
  }
}
